$yellow: #ffc114;
$black: #333;
$blue: #42228d;
$white: #fff;
$gray: #c8c8c8;
$dark: #2c3343;
@mixin transition(){
    -webkit-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
}
@mixin transform(){
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
}
@mixin transformX(){
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
}
@mixin transformY(){
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}
/* Framework */
@import url('https://fonts.googleapis.com/css?family=Comfortaa|Montserrat:500,600|Work+Sans:300,400,500,600,700,800&display=swap');
/*
font-family: 'Montserrat', sans-serif;
font-family: 'Comfortaa', cursive;
font-family: 'Work Sans', sans-serif;
*/
@font-face{
    font-family: bu;
    src: url('../webfonts/Butler_Black.otf');
}
@font-face{
    font-family: bue;
    src: url('../webfonts/Butler_ExtraBold.otf');
}
*{
    font-family: 'Work Sans', sans-serif;
}
ul,li,ol{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
a,a:focus,a:active,a:hover,a:visited{
    outline: none;
    text-decoration: none;
}
a,a:focus,a:active,a:hover,a:visited,
button,button:focus,button:active,
input,input:focus,input:active,
textarea,textarea:focus,textarea:active,
select,select:focus,select:active{
    outline: none;
}
body{
    overflow-x: hidden;
}
p,b,i{
    font-size: 16px;
    line-height: 28px;
}
h1{
    font-size: 110px;
}
h2{
    font-size: 80px;
    line-height: 60px;
}
h2{
    font-size: 80px;
    line-height: 60px;
}
h3{
    font-size: 44px;
    line-height: 60px;
}
h4{
    font-size: 26px;
}
h5{
    font-size: 22px;
}
h6{
    font-size: 20px;
}
.mb-64{
    margin-bottom: 64px;
}
.left-number-header{
    position: relative;
    margin-bottom: 51px;
    height: 100px;
    line-height: 100px;
    span{
        font-size: 200px;
        color: #f9f9f9;
        font-weight: 900;
        height: 100px;
    }
    h2{
        color: #333;
        font-family: bu;
        position: absolute;
        top: 50%;
        left: 30px;
        @include transformY;
        width: 100%;
    }
}
.center-number-header{
    position: relative;
    margin-bottom: 51px;
    height: 100px;
    line-height: 100px;
    span{
        font-size: 200px;
        color: #f9f9f9;
        font-weight: 900;
        height: 100px;
    }
    h2{
        color: #333;
        font-family: bu;
        position: absolute;
        top: 50%;
        left: 50%;
        @include transform;
        width: 100%;
    }
}
/* // Framework */
/* Header */
header{
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 60px;
    .container-fluid{
        padding: 0px 60px;
    }
    ul{
        li{
            float: left;
            &:not(:last-child){
                margin-right: 5px;
            }
            &.active{
                a{
                    background: $yellow;
                    color: #fff;
                    border-radius: 5px;
                    -webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
                            box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
                }
            }
            a{
                @include transition;
                font-size: 20px;
                padding: 5px 10px;
                color: #fff;
                &:hover{
                    background: $yellow;
                    color: #fff;
                    border-radius: 5px;
                    -webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
                            box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
                }
            }
        }
    }
    .mobile-menu{
        display: none;
    }
}
/* // Header */
/* Main Section */
section.main{
    position: relative;
    padding-top: 260px;
    background: url('../imgs/main-background.jpg') no-repeat;
    background-size: 100% 100%;
    div.text-slider{
        text-align: center;
        color: #fff;
        h1,h2{
            color: #fff;
            font-family: bue;
            line-height: normal;
            font-size: 110px;
        }
        p{
            margin-top: 10px;
            color: #fff;
            font-size: 16px;
            font-weight: 500;
        }
        .t-slider{
            position: static;
        }
        .owl-nav{
            background: #fff;
            width: 370px;
            height: 80px;
            position: absolute;
            bottom: 0;
            right: 0;
            line-height: 80px;
            z-index: 10000;
            button{
                color: $blue;
                font-weight: 500;
                position: absolute;
                z-index: 2000;
                &:first-child{
                    left: 30px;
                }
                &:last-child{
                    right: 30px;
                }
            }
        }
        .slider-count{
            width: 370px;
            text-align: center;
            position: absolute;
            right: 0;
            bottom: 8px;
            z-index: 20000;
            .currentnumber{
                color: $blue;
                font-family: bue;
                font-size: 40px;
                .slider-counter{
                    font-family: bue;
                    font-size: 40px;
                }
            }
            b,span.numberofslides{
                font-size: 24px;
                color: #c8c8c8;
                font-weight: 600;
            }
        }
    }
    .main-img{
        margin-top: 90px;
        img{
            max-width: 90%;
        }
    }
}
/* // Main Section */
/* About Us Section */
section.about-us{
    padding: 120px 0px;
    background: url('../imgs/about-us-bg.png') no-repeat;
    background-position: center center;
    background-size: 95%;
    div.info{
        padding-left: 30px;
        p{
            color: #999999;
            margin-bottom: 45px;
        }
        a.read-more{
            span{
                display: inline-block;
                width: 81px;
                height: 81px;
                color: #fff;
                background: $yellow;
                border-radius: 50%;
                text-align: center;
                line-height: 87px;
                margin-right: 21px;
                @include transition;
                i{
                    font-size: 24px;
                }
            }
            b{
                color: #333;
                font-weight: 500;
                @include transition;
            }
            &:hover{
                span{
                    background: $blue;
                    -webkit-transform: scale(0.9);
                        -ms-transform: scale(0.9);
                            transform: scale(0.9);
                }
                b{
                    color: $yellow;
                }
            }
        }
    }
}
/* // About Us Section */
/* Portfolio */
section.portfolio{
    padding-bottom: 120px;
    div.center-number-header{
        margin-bottom: 110px;
    }
    div.items{
        a{
            display: block;
            position: relative;
            height: 400px;
            width: 100%;
            overflow: hidden;
            img{
                position: absolute;
                left: 0;
                top: 50%;
                @include transformY;
                width: 100%;
            }
            div.overlay{
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                background: rgba(66, 34, 141, 0.65);
                -webkit-transform: scale(0);
                    -ms-transform: scale(0);
                        transform: scale(0);
                @include transition;
            }
            &:hover{
                div.overlay{
                    -webkit-transform: scale(1);
                        -ms-transform: scale(1);
                            transform: scale(1);
                }
            }
        }
    }
}
/* // Portfolio */
/* Services */
section.services{
    padding-bottom: 80px;
    div.center-number-header{
        margin-bottom: 110px;
    }
    div.items{
        div.item{
            margin-bottom: 30px;
            padding: 33px 20px;
            border: 2px solid #f6f6f6;
            position: relative;
            @include transition;
            div.imgs{
                img:last-child{
                    display: none;
                }
            }
            &:hover div.imgs img:last-child{
                display: inline-block;
            }
            &:hover div.imgs img:first-child{
                display: none;
            }
            h5{
                color: $black;
                margin: 20px 0px 10px 0px;
                @include transition;
                font-weight: 600;
            }
            p{
                color: #959595;
                font-size: 14px;
                @include transition;
            }
            &:after{
                content: "";
                display: block;
                position: absolute;
                height: 10px;
                width: 0px;
                background: $yellow;
                left: -2px;
                bottom: -12px;
                @include transition;
            }
            &:hover{
                background: #3fc1c9;
                border-color: #3fc1c9;
                h5,p{
                    color: #fff;
                }
                &:after{
                    width: calc(100% + 4px);
                }
            }
        }
    }
}
/* // Services */
/* Testimonials */
section.testimonials{
    padding: 120px 0px;
    background: url('../imgs/testimonials-bg.png') no-repeat;
    background-size: cover;
    div.center-number-header{
        margin-bottom: 80px;
        span{
            color: #f5f6f7;
        }
    }
    div.testimonial-carousel{
        div.item{
            p{
                font-size: 20px;
                color: $black;
                font-weight: 500;
                line-height: 36px;
                margin-bottom: 65px;
            }
            div.user{
                text-align: center;
                div.contain{
                    display: inline-block;
                    span.img{
                        margin-right: 20px;
                    }
                    div.details{
                        b.name{
                            display: block;
                            text-align: left;
                            font-size: 18px;
                        }
                        i{
                            font-style: normal;
                            text-align: left;
                            font-size: 14px;
                            display: block;
                            color: #959595;
                        }
                    }
                }
            }
        }
        .owl-nav{
            button{
                position: absolute;
                top: 50px;
                color: #dbdbdb;
                padding: 0px;
                line-height: 0px;
                @include transition;
                background: none;
                i{
                    font-size: 30px;
                }
                &:hover{
                    color: $yellow;
                    background: none;
                }
            }
            button.owl-prev{
                left: -50px;
            }
            button.owl-next{
                right: -50px;
            }
        }
    }
}
/* // Testimonials */
/* Start Project */
section.start-project{
    background: url('../imgs/start.jpg') no-repeat;
    background-size: cover;
    padding: 48px;
    h3{
        color: #fff;
        font-size: 40px;
        font-weight: 100;
        margin-bottom: 26px;
        b{
            font-size: 40px;
            font-weight: 700;
        }
    }
    a.contact-us-button{
        span{
            display: inline-block;
            width: 81px;
            height: 81px;
            color: #f54ea2;
            background: #fff;
            border-radius: 50%;
            text-align: center;
            line-height: 87px;
            margin-right: 21px;
            @include transition;
            i{
                font-size: 24px;
            }
        }
        b{
            color: #fff;
            font-weight: 500;
            @include transition;
        }
        &:hover{
            span{
                background: $yellow;
                -webkit-transform: scale(0.9);
                    -ms-transform: scale(0.9);
                        transform: scale(0.9);
            }
            b{
                color: $yellow;
            }
        }
    }
}
/* // Start Project */
/* Keep in touch */
section.keep-in-touch{
    div.info{
        padding: 60px 30px 60px 200px;
        h3{
            font-family: bue;
            margin-bottom: 10px;
        }
        & > p{
            color: #999999;
            font-size: 18px;
            margin-bottom: 46px;
        }
        div.field{
            margin-bottom: 30px;
            &:last-of-type{
                margin-bottom: 42px;
            }
            input{
                height: 60px;
                border-color: #eee;
                border-radius: 0px;
            }
            textarea{
                border-color: #eee;
                border-radius: 0px;
                resize: none;
                overflow-y: scroll;
                height: 160px;
            }
            input,textarea{
                &::-webkit-input-placeholder {
                    font-size: 16px;
                    color: #999999;
                }
                &::-moz-placeholder {
                    font-size: 16px;
                    color: #999999;
                }
                &:-ms-input-placeholder {
                    font-size: 16px;
                    color: #999999;
                }
                &::-ms-input-placeholder {
                    font-size: 16px;
                    color: #999999;
                }
                &::placeholder {
                    font-size: 16px;
                    color: #999999;
                }

                &:-ms-input-placeholder {
                    font-size: 16px;
                    color: #999999;
                }

                &::-ms-input-placeholder {
                    font-size: 16px;
                    color: #999999;
                }
            }
        }
        label.send-message{
            cursor: pointer;
            span{
                display: inline-block;
                width: 81px;
                height: 81px;
                color: #fff;
                background: $yellow;
                border-radius: 50%;
                text-align: center;
                line-height: 87px;
                margin-right: 21px;
                @include transition;
                i{
                    font-size: 24px;
                }
            }
            b{
                color: #333;
                font-weight: 500;
                @include transition;
            }
            &:hover{
                span{
                    background: $blue;
                    -webkit-transform: scale(0.9);
                        -ms-transform: scale(0.9);
                            transform: scale(0.9);
                }
                b{
                    color: $yellow;
                }
            }
        }
    }
    div.img{
        height: 100%;
        background: url('../imgs/contact-img.jpg') no-repeat;
        background-size: cover;
    }
}
/* // Keep in touch */
/* Footer */
footer{
    background: #2c3444;
    div.footer-top{
        padding: 60px 0px 50px 0px;
        a.logo{
            display: block;
            margin-bottom: 60px;
        }
        ul.footer-menu{
            clear: both;
            display: inline-block;
            li{
                float: left;
                &:not(:last-child){
                    margin-right: 54px;
                }
                a{
                    color: #fff;
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 500;
                    text-transform: uppercase;
                    font-size: 14px;
                    @include transition;
                    &:hover{
                        color: $yellow;
                    }
                }
            }
        }
        ul.social-links{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            margin-top: 51px;
            li{
                a{
                    display: inline-block;
                    width: 60px;
                    height: 60px;
                    line-height: 60px;
                    text-align: center;
                    border: 2px solid #404856;
                    border-radius: 50%;
                    color: #404856;
                    @include transition;
                    i{
                        font-size: 20px;
                    }
                    &:hover{
                        color: #fff;
                        background: $yellow;
                        border-color: $yellow;
                    }
                }
                &:not(:last-child){
                    margin-right: 30px;
                }
            }
        }
    }
    div.footer-bottom{
        border-top: 1px solid #38404f;
        padding: 30px;
        p{
            font-size: 14px;
            margin: 0px;
            padding: 0px;
            color: #fff;
            font-family: 'Montserrat', sans-serif;
            font-weight: 600;
        }
    }
}
/* // Footer */
/*==============
    About Page
==============*/
section.main.subpages{
    background-size: cover;
    overflow: hidden;
    h1{
        margin-bottom: 120px;
    }
}
section.about-us.inner{
    background: url('../imgs/about-inner-bg.png') no-repeat;
    background-position: center center;
    background-size: 95%;
    div.container > p{
        margin-top: 70px;
        color: #999999;
        font-size: 16px;
    }
    div.yellow-line-title{
        margin-bottom: 40px;
        h2{
            color: #333;
            font-weight: 600;
            font-size: 24px;
            line-height: 20px;
            padding: 0px;
            display: inline-block;
            position: relative;
            &:after{
                content: "";
                display: block;
                width: 100%;
                height: 5px;
                background: $yellow;
                position: absolute;
                z-index: -1;
                bottom: 0;
            }
        }
    }
}
/*================
    Services Page
================*/
section.services.inner{
    padding: 120px 0px;
    background: url('../imgs/about-us-bg.png') no-repeat;
    background-position: center center;
    background-size: 95%;
}
@media(max-width: 1200px){
    section.main div.text-slider h1, section.main div.text-slider h2 {
        font-size: 80px;
    }
    .left-number-header span {
        font-size: 150px;
        height: 100px;
    }
    h2 {
        font-size: 60px;
        line-height: 60px;
    }
    .center-number-header span {
        font-size: 150px;
        height: 100px;
    }
    section.portfolio div.items a{
        height: 300px;
    }
    h5{
        font-size: 18px;
    }
    section.services div.items div.item div.imgs img{
        width: 70px;
    }
    section.testimonials div.testimonial-carousel div.item p{
        font-size: 16px;
    }
    section.testimonials div.testimonial-carousel .owl-nav button.owl-next {
        right: -30px;
    }
    section.testimonials div.testimonial-carousel .owl-nav button.owl-prev {
        left: -30px;
    }
    h3,
    section.start-project h3{
        font-size: 30px;
    }
    section.keep-in-touch div.info{
        padding-left: 30px;
    }
    section.main.subpages h1 {
        margin-bottom: 80px;
    }
    section.main.subpages{
        padding-top: 200px;
    }
    section.about-us.inner div.yellow-line-title{
        margin-bottom: 20px;
    }
    section.about-us.inner div.info {
        text-align: left;
    }
}
@media(max-width: 991px){
    header{
        padding-top: 30px;
    }
    header .container-fluid{
        padding: 0px 15px;
    }
    header ul li a{
        font-size: 18px;
    }
    section.main{
        background-size: cover;
        background-position: center center;
        padding-top: 150px;
    }
    section.main div.text-slider h1, section.main div.text-slider h2{
        font-size: 50px;
    }
    section.main .main-img{
        margin-top: 30px;
    }
    section.main div.text-slider .owl-nav{
        height: 50px;
    }
    section.main div.text-slider .slider-count .currentnumber,
    section.main div.text-slider .slider-count .currentnumber .slider-counter{
        font-size: 24px;
    }
    section.main div.text-slider .slider-count b, section.main div.text-slider .slider-count span.numberofslides{
        font-size: 18px;
    }
    section.main div.text-slider .owl-nav button:first-child{
        bottom: -13px;
    }
    section.main div.text-slider .owl-nav button:last-child{
        bottom: -13px;
    }
    .left-number-header span{
        font-size: 100px;
    }
    .left-number-header h2{
        font-size: 40px;
    }
    section.about-us div.info a.read-more span{
        height: 70px;
        width: 70px;
        line-height: 73px;
    }
    section.about-us,
    section.testimonials{
        padding: 60px 0px;
    }
    section.about-us div.info a.read-more span i{
        font-size: 20px;
    }
    .center-number-header span{
        font-size: 100px;
    }
    .center-number-header h2{
        font-size: 40px;
    }
    .left-number-header{
        margin-bottom: 20px;
    }
    section.portfolio div.center-number-header,
    section.services div.center-number-header{
        margin-bottom: 60px;
    }
    section.portfolio div.items a {
        height: 250px;
    }
    section.portfolio{
        padding-bottom: 60px;
    }
    section.services{
        padding-bottom: 20px;
    }
    section.testimonials div.center-number-header{
        margin-bottom: 60px;
    }
    section.testimonials div.testimonial-carousel div.item p {
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 30px;
    }
    section.testimonials div.testimonial-carousel .owl-nav button i{
        font-size: 24px;
    }
    h3, section.start-project h3,
    section.start-project h3 b{
        font-size: 24px;
    }
    section.start-project{
        padding: 30px 0px;
    }
    section.start-project h3{
        margin-bottom: 20px;
    }
    section.start-project a.contact-us-button span{
        height: 70px;
        width: 70px;
        line-height: 78px;
    }
    section.start-project a.contact-us-button span i{
        font-size: 20px;
    }
    section.keep-in-touch div.info > p{
        margin-bottom: 30px;
        line-height: 20px;
        font-size: 16px;
    }
    section.keep-in-touch div.info{
        padding: 30px;
    }
    section.keep-in-touch div.info div.field{
        margin-bottom: 15px;
    }
    section.keep-in-touch div.info div.field:last-of-type{
        margin-bottom: 20px;
    }
    section.keep-in-touch div.info label.send-message span{
        height: 70px;
        width: 70px;
        line-height: 78px;
    }
    section.keep-in-touch div.info label.send-message span i{
        font-size: 20px;
    }
    footer div.footer-top{
        padding: 40px 0px;
    }
    footer div.footer-top a.logo{
        margin-bottom: 30px;
    }
    footer div.footer-top ul.social-links{
        margin-top: 30px;
    }
    footer div.footer-top ul.footer-menu li:not(:last-child){
        margin-right: 20px;
    }
    footer div.footer-top ul.social-links li a{
        width: 50px;
        height: 50px;
        line-height: 50px;
        i{
            font-size: 18px;
        }
    }
    footer div.footer-top ul.social-links li:not(:last-child){
        margin-right: 15px;
    }
    footer div.footer-top ul.social-links li a{
        border-width: 1px;
    }
    header ul li a{
        font-size: 16px;
        padding: 5px;
    }
}
@media(max-width: 768px){
    header ul{
        position: absolute;
        top: 110px;
        background: #fff;
        padding: 15px;
        display: none;
        width: calc(100% - 30px);
        right: 15px;
        li{
            display: block;
            width: 100%;
            margin-bottom: 10px;
            a{
                display: block;
                color: #333;
                width: 100%;
            }
        }
    }
    header .mobile-menu{
        width: 40px;
        height: 24px;
        position: relative;
        display: block;
        span{
            display: block;
            position: absolute;
            height: 4px;
            background: $yellow;
            @include transition;
            &:first-child{
                top: 0;
                left: 0;
                width: 100%;
            }
            &:nth-child(2){
                top: 50%;
                left: 0;
                width: 50%;
                @include transformY;
            }
            &:nth-child(2){
                top: 50%;
                left: 0;
                width: 50%;
            }
            &:last-child{
                bottom: 0;
                left: 0;
                width: 70%;
            }
        }
        &:hover span{
            width: 100%;
        }
    }
    header .mobile-menu.opened{
        span{
            width: 100%;
        }
        span:first-child{
            -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                    transform: rotate(45deg);
            top: 12px;
        }
        span:nth-child(2){
            display: none;
        }
        span:last-child{
            -webkit-transform: rotate(-45deg);
                -ms-transform: rotate(-45deg);
                    transform: rotate(-45deg);
            bottom: 8px;
        }
    }
    section.main div.text-slider h1, section.main div.text-slider h2 {
        font-size: 40px;
    }
    section.main div.text-slider p{
        font-size: 14px;
    }
    section.main div.text-slider .owl-nav {
        width: 260px;
    }
    section.main div.text-slider .slider-count {
        width: 260px;
    }
    section.about-us div.info{
        padding-top: 60px;
    }
    section.portfolio div.items a{
        height: 350px;
    }
    section.keep-in-touch div.img{
        height: 600px;
    }
    footer div.footer-top{
        padding: 30px 100px;
    }
    footer div.footer-top ul.footer-menu{
        text-align: center;
    }
    section.testimonials div.testimonial-carousel .owl-nav button.owl-next{
        right: 0px;
    }
    section.testimonials div.testimonial-carousel .owl-nav button.owl-prev{
        left: 0px;
    }
    section.about-us div.info{
        text-align: center;
    }
    .left-number-header h2{
        left: 50%;
        @include transform;
    }
    section.main.subpages {
        padding-top: 120px;
    }
    section.main.subpages h1 {
        margin-bottom: 40px;
    }
    section.about-us.inner div.container > p {
        margin-top: 40px;
        padding: 0px 30px;
    }
}
@media(max-width: 480px){
    h1,h2,h3,h4,h5,h6{
        line-height: normal;
    }
    footer div.footer-top{
        padding: 30px;
    }
    section.about-us.inner div.container > p {
        margin-top: 40px;
        padding: 0px 0px 0px 30px;
    }
}